@import "reset.scss";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/light.scss";

.app{
  font: var(--font-m);
  font-size: 50px;
  background: var(--bg-color);
  color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
}

.content-page{
  display: flex;
}

.page-wrapper{
  padding: 20px;
}