@import "reset.scss";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/light.scss";

.app{
  font-size: 50px;
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
}