.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
  box-sizing: border-box;
}

.links{
  margin-left: auto;
}